{% extends '::base.html.twig' %}

{% block title %}Resume Success{% endblock %}

{% block pageTitle %}Resume Success{% endblock %}

{% block body %}

        {% if app.session.hasFlash('notice') %}
        <div class="alert">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ app.session.flash('notice') | raw }}
        </div>
        {% endif %}

        {% if app.session.hasFlash('success') %}
        <div class="alert alert-success">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ app.session.flash('success') | raw }}
        </div>
        {% endif %}

        {% if app.session.hasFlash('error') %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ app.session.flash('error') | raw }}
        </div>
        {% endif %}

        <div class="container Main-content">
            <div class="Student">
                <div class="row-fluid show-grid">
                    <div class="span12">
                        <h1>Congratulations on your first resume with InternJump</h1>
                        <a href="{{ path('user_portal_home', {'loginName': loginName, 'cvId': cvId}) }}">View Your Resume</a>
                        <h2>You are just a step away from securing a killer internship</h2>
                    </div>
                </div><!--row-fluid show-grid-->
            </div><!---Student --->
        </div><!--container-->
{% endblock %}
