{% if allUserCvs|length > 0%}
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Select your CV</label>
        <div class="controls">
            <select class="chzn-select" id="userCvs" style="width: 250px;">
                {% for cv in allUserCvs %}
                    <option value="{{cv.id}}">{{cv.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="button" class="btn" id="userCvSubmit">Confirm</button>
            <button type="button" class="btn" id="userCvCancle">Cancel</button>
            <img src="{{asset('img/loadingfacebox.gif')}}" id="userAddJobImg" style="display: none;float: right;"/>
        </div>
    </div>
</form>

{% else %}
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{user_does_not_have_cv_message}}</label>
    </div>
</form>
{% endif %}
