{% extends '::base.html.twig' %}
{% block title %}Company listing by industry{% endblock %}

{% block body %}
                <section id="comJobList">
                    <div class="wrapper">
                        <aside class="copmanyInfo">
                            <div>
                                <a href="{{ path('site_homepage') }}">Home</a> / <a href="{{ path('employers') }}">Employers</a>
                            </div>
                            <h1>Company listing by industry</h1>
                            <div class="infoBlock">
                                <ul>
                                    {% for industry in  entities %}
                                    <li>
                                        <a href="{{ path('industry_companies', {'industrySlug': industry.slug}) }}">{{ industry }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                </section>
{% endblock %}


