@charset "utf-8";
/* CSS Document */

.yellowCont h1 {
    font: normal 24px "Arena Condensed";
    color: #0b80a2;
    margin-bottom: 30px;
}

.yellowCont h1 strong {
    color: #ef7d00;
}

.yellowCont form h2 {
    color: #524391;
    margin-bottom: 15px;
    font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.yellowCont form td {
    padding-bottom: 20px;
}

.yellowCont form td.top {
    vertical-align: top;
}

.yellowCont form label {
    color: #524391;
    font: normal 16px/30px "Arena Condensed";
}

.yellowCont form td > input,
.yellowCont form td > textarea {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px #DDDDDD inset, 2px 3px 2px #EEEEEE;
    height: 28px;
    width: 200px;
    color: #333;
    text-indent: 7px;
}

.yellowCont form input:focus {
    border: 1px solid #50b3d8;
    box-shadow: 2px 3px 2px #eee;
}

.yellowCont form textarea {
    width: 190px !important;
    resize: vertical;
    height: 88px;
}

.yellowCont form textarea {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px #DDDDDD inset, 2px 3px 2px #EEEEEE;
    color: #333;
    padding: 7px;
    width: 82%;
    resize: vertical;
    height: 60px;
}

.yellowCont form button.nxt,
.yellowCont form button.bak {
    width: 110px;
    height: 36px;
    border-radius: 7px;
    margin: 0 5px;
    float: right;
}

.yellowCont form button.nxt {	border: 1px solid #f39200;
                              color: #fff;
                              font: bold 20px Arial, Helvetica, sans-serif;
                              box-shadow: 0 0 2px #f08003;
                              float: right;
                              margin-right: 77px;
                              background: #ec6608;
                              background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjNjYwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTg4MTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                              background: -moz-linear-gradient(top,  #ec6608 0%, #f18811 100%);
                              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6608), color-stop(100%,#f18811));
                              background: -webkit-linear-gradient(top,  #ec6608 0%,#f18811 100%);
                              background: -o-linear-gradient(top,  #ec6608 0%,#f18811 100%);
                              background: -ms-linear-gradient(top,  #ec6608 0%,#f18811 100%);
                              background: linear-gradient(to bottom,  #ec6608 0%,#f18811 100%);
                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6608', endColorstr='#f18811',GradientType=0 );
}

.yellowCont form button.nxt:hover {
    background: #ec6608;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjNjYwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTg4MTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ec6608 0%, #ec6608 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6608), color-stop(100%,#ec6608));
    background: -webkit-linear-gradient(top,  #f18811 0%,#ec6608 100%);
    background: -o-linear-gradient(top,  #f18811 0%,#ec6608 100%);
    background: -ms-linear-gradient(top,  #f18811 0%,#ec6608 100%);
    background: linear-gradient(to bottom,  #f18811 0%,#ec6608 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18811', endColorstr='#ec6608',GradientType=0 );
}
.yellowCont form button.bak {
    border: none;
    background: none;
    color: #737373;
    font: bold 16px Arial, Helvetica, sans-serif;
}

.yellowCont form button.bak:hover {
    background: #ccc;
    text-shadow: 0 1px 1px #fff;
    color: #666;
}

.yellowCont form .started .input {
    width: 70px;
}

.yellowCont form .started .sbHolder {
    width: 70px;
    background: url(../img/bgs.png) -220px -235px no-repeat #FFFFFF;
    display: inline-block;
}

.yellowCont form .started .sbHolder:hover{
    border: 1px solid #50b3d8;
    box-shadow: 2px 3px 2px #eee;
    background: url(../img/bgs.png) -220px -357px no-repeat #FFFFFF;
}

.yellowCont form .started .sbOptions {
    width: 70px;
}

.yellowCont form .started .sbSelector {
    width: 70px;
}

.yellowCont form#step02 {
    margin: 10px 0;
    position: relative;
}

.yellowCont form#step02 > div {
    margin-bottom: 15px !important;
}

.yellowCont form#step02 label {
    padding-right: 10px;
}

.yellowCont form#step02 div.clonedInput input {
    width: 550px;
}

.yellowCont form#step02 div.btns {
    position: absolute;
    top: 3px;
    right: 245px;
}

a.subDelete{
    float: right;
    position: relative;
    z-index: 9;
}

div.underGraduate label{
    display: inline-block;
    vertical-align: sub;
    width: 42%;
    margin-left: 5px;
}

input#btnAdd, input#btnDel, a.subDelete {
    display: inline-block;
    width: 36px;
    height: 26px;
    border: 1px solid #62a2c4;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font: 20px Arial, Helvetica, sans-serif;
    text-indent: 0;
    background: #8fd1f5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmZDFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMmRmZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8fd1f5 0%, #b2dff8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fd1f5), color-stop(100%,#b2dff8));
    background: -webkit-linear-gradient(top,  #8fd1f5 0%,#b2dff8 100%);
    background: -o-linear-gradient(top,  #8fd1f5 0%,#b2dff8 100%);
    background: -ms-linear-gradient(top,  #8fd1f5 0%,#b2dff8 100%);
    background: linear-gradient(to bottom,  #8fd1f5 0%,#b2dff8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd1f5', endColorstr='#b2dff8',GradientType=0 );
}

input#btnAdd:hover, input#btnDel:hover, a.subDelete:hover {
    color: #333;
    text-shadow: 0 1px 1px #fff;
    background: #e0f3fa;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZjNmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2Q4ZjBmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2I5ZTJmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmRmZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 46%, #b9e2f6 47%, #b6dffd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(46%,#d8f0fc), color-stop(47%,#b9e2f6), color-stop(100%,#b6dffd));
    background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 46%,#b9e2f6 47%,#b6dffd 100%);
    background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 46%,#b9e2f6 47%,#b6dffd 100%);
    background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 46%,#b9e2f6 47%,#b6dffd 100%);
    background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 46%,#b9e2f6 47%,#b6dffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

.yellowCont #step04 {
    margin: 75px auto;
    text-align: center;
}

.yellowCont #step04 h1 {
    font: 18px/32px "Arena Condensed";
    color: #0b80a2;
    text-indent: 30px;
    background: url(../img/bgs.png) -940px -309px no-repeat;
}

.yellowCont #step04 h2 {
    font: 18px "Arena Condensed";
    color: #f58220;
    margin-top: 25px;
}

td .chzn-containerو
.yellowCont form td > input,
.yellowCont form td > textarea {
    vertical-align: middle;
}
