{% extends '::base.html.twig' %}

{% block title %}
Internjump - {{message}}
{%endblock%}

{% block body %}

 <section id="portalHome" class="comntSection">
            <div class="alertConfirmation">{{message}}</div>
 </section>

{% endblock %}

